*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
	--color-primary: #ffffff;
	--color-bg-light-blue: #b4d0e7;
	--color-secondary: #000000;
	--color-bg-blue: #0061ff;
	--color-bg-green-brand: #a2d39b;
	--color-border-light-green: #d1e9cd;
	--color-bg-garnet-brand: #61082b;
	--color-bg-light-blue-brand: #0093ce;
	--color-bg-light-red-brand: #ff1c1c;
	--color-bg-grey-zoom-brand: #f5f5f5;
	--color-bg-red-brand: #d5001f;
	--color-bg-dark-blue-brand: #0d2481;
	--color-bg-yellow-brand: #ffd830;
}
.debug{
    border: 1px solid rgb(211, 38, 38);
}
img{
    width:100%;
    display: block;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5px;
}
ul{
    list-style: none;
}
/* flexbox */
.d-flex{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
}
.f-center{
    justify-content: center;
}
.sp-between{
    justify-content: space-between;
}
.width-50{
    width: 50%;
}
.just-start{
    justify-content: flex-start;
}
.just-end{
    justify-content: flex-end;
}
.column{
    flex-direction: column;
}
.wrap{
    flex-wrap: wrap;
}
/* header */
header{
    height: 100px;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--color-primary);
    box-shadow: 1px 0 5px black;
}
.hd-left{
    min-width: 200px;
    justify-content: space-between;
    margin-left: 10px;
    align-items: center;
    padding: 5px 0;
}
.hd-right{
    min-width: 200px;
    justify-content: space-between;
    margin-left: 10px;
    align-items: center;
    padding: 5px 0;
}
.logo-img{
    max-width: 100%;
    margin-right: 15px;
}
.list-hd, li{
    margin-right: 20px;
}
li > a{
    text-decoration: none;
}
.hd-li{
    color: black;
}
.button-blue{
    background-color: var(--color-bg-blue);
    padding: 4px 8px;
    color: white;
    border: 0.2px solid #6b9eff;
    box-shadow: 0.3px 0.3px 0.4px var(--color-bg-dark-blue-brand);
    width: fit-content;
    text-decoration: none;
}
/* hero */
.hero{
    background-color: var(--color-bg-light-blue);
    margin-top: 100px;
    /* height: 600px; */
}
.hero-box{
    justify-content: flex-start;
    padding-bottom: 100px;
}
h1{
    font-size: 6em;
    margin-bottom: 40px;
}
/* .box-hero-main{
    width: 100%;
    background-color: #61082b;
    justify-content: space-between;
} */
.text-hero{
    width: 35%;
    min-width: 200px;
    font-size: 1.2em;
}
.text-hero > div{
    margin-bottom: 20px;
    
}
.button{
    background-color: var(--color-bg-blue);
    color: white;
    width: fit-content;
}
.fa-arrow-down{
    margin-top: 50px;
}
#hero .fa-solid.fa-arrow-down{
    font-size: 3em;
}

.img-hero-container{
    width: 65%;
}
.img-hero{
    min-width: 300px;
    justify-content: flex-end;
    display: block;
    position: relative;
    bottom: -150px;
}
/* main */
main{
    background-color: var(--color-primary);
    justify-content: flex-start;
    align-content: flex-start;
    padding-top: 50px;
}
.main-content{
    margin: 100px 20% 0 20%;
}
.business-button{
    padding: 20px 0 20px 0;
}
#annuale{
    margin-left: 20px;
}
h2{
    font-size: 2.5em;
}
.business-class-container{
    align-content: stretch;
}
.business-class{
    width: 30%;
    border: 1px solid #666;
}
.border-black{
    border-bottom: 1px solid #666;
}
div > .plan{
    margin-top: 0;
}
.plan{
    padding: 5px 0 5px 0;
}
.padding-box{
    padding: 20px 30px 20px 30px;
    min-width: 100%;
}
h3{
    font-size: 1.5em;
}
p{
    margin: 10px 0 10px 0;
}
.grey-text{
    color: grey;
}
.list-plan{
    margin: 30px 0 30px 0;
}
.list-plan > div{
    margin: 0 0 10px 0;
    width: 100%;
    flex-wrap: nowrap;
}
i{
    margin-right: 5px;
}
.button-blue.width-100{
    width: 100%;
    margin-bottom: 10px;
    padding: 5px 0 5px 0;
}
.hr-short{
    width: calc(100% / 4);
    margin: 10px 0 10px 0;
    background-color: rgb(224, 224, 224);
    border-color: transparent;
}
h4{
    padding: 10px 0 10px 0;
}
.check-box{
    width: 100%;
    justify-content: flex-start;
}
.check{
    width: 10%;
}
.check-text{
    width: 90%;
    margin-bottom: 5px;
}
.business-team{
    width: 100%;
    margin-top: 50px;
    border: 1px solid #666;
    padding-bottom: 20px;
}
.box-large-plan{
    justify-content: space-around;
}
.padding-box-large{
    width: 60%;
    align-content: flex-start;
}
.btn-right{
    width: 20%;
    align-content: flex-start;
    justify-content: center;
}
.big-box-p{
    margin-top: 40px;
}
.size-60{
    width: 60%;
}
.padding-10{
    padding: 10px 50px 10px 50px;
    width: 40%;
}
.padding-10, .just-start{
    align-content: flex-start;
    margin-top: 40px;
}
